# .gitignore
.env
data/
.streamlit/secrets.toml
lib/data/
finetuned_bge_real_estate_model/
checkpoints/
credentials.json
token.json
inspect_db.py
generate_training_data.py
finetune_retriever.py
analyze_data.py
real_estate_finetuned_local_metadata.pkl
real_estate_finetuned_local_faiss.bin
real_estate_training_dataset.jsonl
emails_faiss.bin
emails_metadata.pkl
full_mails.jsonl

__pycache__/
*.pyc

# Virtual environment
venv/
*.venv
env/
.env
.*jsonl
.*json

clean_mails
.aider*
node_modules/
